<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="2.0.7" targetFramework="net40" />
  <package id="FluentMigrator.Abstractions" version="2.0.7" targetFramework="net40" />
  <package id="FluentMigrator.Console" version="2.0.7" targetFramework="net40" />
  <package id="FluentMigrator.Extensions.SqlServer" version="2.0.7" targetFramework="net40" />
  <package id="FluentMigrator.Runner" version="2.0.7" targetFramework="net40" />
  <package id="FluentMigrator.Runner.Core" version="2.0.7" targetFramework="net40" />
  <package id="FluentMigrator.Runner.MySql" version="2.0.7" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40" />
</packages>